* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 1.2em;
    background: #f8f4e6;
}

.input {
    margin: 0;
}

[contenteditable] {
    border-bottom: 1px dotted #EF944D;
}

h1 {
    text-align: left;
    font-size: 2em;
    margin-bottom: 2em;
    color: #555555;
    display: inline-block;
    margin-top: 0;
}

.b {
    margin-bottom: 4em;
}

.b-header {
    position: relative;
    padding-bottom: 0.5rem;
    display: flex;
    z-index: 12;
}

.b-size {
    position: absolute;
    bottom: -27px;
    right: 0;
    display: block;
    padding: 0;
    font-size: 80%;
    font-style: normal;
    font-weight: bold;
    color: #999;
}

.b-title {
    display: inline-block;
    margin: 0 0.2em;
    line-height: 1;
}
#legende {
    font-weight: bold;
    margin-bottom: 30px;
}
@media screen and (min-width: 980px) {
    #infos,
    #legende {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
    #legende {
        text-align: right;
    }
}
#legende .cube {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    line-height: 30px;
    margin: 0 10px 15px 0;
}
#legende ul {
    display: inline-block;
    list-style-type: none;
    color: #555555;
    padding: 20px;

    background: #fcf7e8;
    text-align: left;
    border: 1px dotted #555;
}

.b-budget {
    background: #eee;
    background: repeating-linear-gradient(45deg, #555555, #555555 10px, #f0f0f0 10px, #f0f0f0 20px);
    border-radius: 1em;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.08);
    margin-top: 20px;
    position: relative;
}
.b-budget::before {
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    background: repeating-linear-gradient(45deg, #555555, #555555 10px, #f0f0f0 10px, #f0f0f0 20px);
    border-radius: 8px;
}

.b-cat-container {
    min-width: 210px !important;
    transition: width 0.3s ease-in-out;
    position: relative;
}

.actual-size {
    position: absolute;
    top: 2.3rem;
    right: 0;
    display: block;
    padding: 0 0.5rem 1rem 0;
    border-right: 1px dashed #d5c9a5;
    font-size: 80%;
    font-style: normal;
    font-weight: bold;
    color: #d5c9a5;
    bottom: 75px;
    text-align: right;
}
.actual-size.has-error {
    z-index: 1210;
    background: repeating-linear-gradient(45deg, #a92101, #a92101 10px, #f0f0f0 10px, #f0f0f0 20px);
    border-radius: 8px;
}
.actual-size.has-error::before {
    border-left: 3px dashed #581000;
    content: "";
    left: 0;
    bottom: -100px;
    z-index: 1001;
    top: 0;
    width: 1px;
    height: 100px;
    display: block;
}
.b-cat-list {
    list-style: none;
    padding: 0;
    margin: 0 0 2em;
    display: flex;
    align-items: center;
    border-radius: 1em;
    overflow: hidden;
}

.b-cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    height: 75px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    position: relative;
    min-width: 11px;
}
[data-onhover]:hover {
    cursor: pointer;
}
.tooltip {
    transition: all 0.3s ease-in-out;
    left: 0;
    top: 0;
    width: 50%;
    min-width: 700px;
    background-color: lightgrey;
    color: #000;
    text-align: center;
    border-radius: 6px;

    /* Position the tooltip */
    position: absolute;
    z-index: 101;
    text-align: left;
    overflow: hidden;
}

.tooltip li > * {
    min-width: 100px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}

.tooltip ul {
    padding: 10px 25px;
    list-style-type: none;
    
    max-height: 60vh;
    overflow: auto;
}

.tooltip a {
    text-overflow: ellipsis;
    max-width: 530px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.b-cat:hover {
    cursor: help;
    padding: 0 15px;
    min-width: 150px;
    overflow: visible;
}
.b-cat:hover label {
    font-size: 115%;
    padding: 5px 2px 0;
}
.b-cat label {
    transition: all .3s ease-in-out;
    cursor: help;
    font-size: 80%;
    display: block;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 1rem 2px 0;
}
.b-cat .input {
    display: block;
    border: 0;
    background: none;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
    padding-bottom: 1rem;
    outline: 0;
    transition: background 0.1s ease-in-out;
}
.b-cat .input:focus {
    background: rgba(0, 0, 0, 0.1);
}
.b-cat-html {
    background: #d3d3d3;
}
.b-cat-html.odd {
    background: #e0e0e0;
}
.b-cat-stats {
    background: #F9ECC5;
}
.b-cat-stats.odd {
    background: #fcf7e8;
}
.b-cat-metier {
    background: #EBC050;
}
.b-cat-metier.odd {
    background: #f0d282;
}
.b-cat-ads {
    background: #EF944D;
}
.b-cat-ads.odd {
    background: #f3b380;
}

.btn {
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    display: block;
    padding: 2em;
    margin: 0 auto 4em;
    background: #ccc;
    border-radius: 1em;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.btn:hover, .btn:focus {
    background: #bbb;
}

.has-error {
    color: #a92101;
    -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
    -webkit-perspective: 1000px;
                    perspective: 1000px;
}
.has-error em {
    color: inherit;
}

footer {
    margin-top: 4em;
    color: #d5c9a5;
    text-align: center;
}
footer a {
    color: #d5c9a5;
}
footer a:hover, footer a:focus {
    color: #EF944D;
}

@-webkit-keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
                        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
                        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
                        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
                        transform: translate3d(4px, 0, 0);
    }
}

@keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
                        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
                        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
                        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
                        transform: translate3d(4px, 0, 0);
    }
}
@media screen and (max-width: 767px) {
    /* mobile only */
    .b-title {
        margin: 0 0.2em 25px;
    }
    .b-size {
        top: 105px;
    }
    .tooltip {
        min-width: 80%;
    }
    .tooltip a {
        max-width: calc(100% - 120px);
    }
    .actual-size {
        top: 41px;
    }
}