body {
  color: #2c3e50;
  background: #ecf0f1;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.half {
  padding: 0 1em;
  display: inline-block;
  position: relative;
}
.stacked {
  display: inline-block;
  float: left;
  margin-right: 30px;
}
.liste {
  float: left;
  display: none;
  padding-left: 2em;
}
:checked + .liste {
  display: inline-block;
}
label.stacked {
  position: absolute;
  display: inline-block;
  left: 350px;
  top: 50%;
  margin-right: 0;
  width: 30px;
  transform: translateY(-50%);
}
input.stacked {
  display: none;
}
#columnchart_material {
  min-width: 10000px;
  overflow: auto;
}
.boite {
  border: 1px solid #2c3e50;
}
.cube {
  display: inline-block;
  margin-right: 5px;
  width: 30px;
  height: 10px;
}
