body {
  color: #2c3e50;
  background: #ecf0f1;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.half {
  padding: 0 1em;
  display: inline-block;
  position: relative;
}
.stacked {
  display: inline-block;
  float: left;
  margin-right: 30px;
}
.liste {
  float: left;
  display: none;
  padding-left: 2em;
}
:checked + .liste {
  display: inline-block;
}
label.stacked {
  position: absolute;
  display: inline-block;
  left: 350px;
  top: 50%;
  margin-right: 0;
  width: 30px;
  transform: translateY(-50%);
}
input.stacked {
  display: none;
}
#columnchart_material {
  min-width: 10000px;
  overflow: hidden;
}
.boite {
  border: 1px solid #2c3e50;
}
.cube {
  display: inline-block;
  margin-right: 5px;
  width: 30px;
  height: 10px;
}
.tooltip {
  background: #fff;
  overflow: hidden;

  margin: 0;
  padding: 1em 1em .5em 1em;

  font-family: Arial;
  font-size: 14;
  text-align: left;
  color: rgb(0, 0, 0);
}
.tooltip li > * {
  min-width: 100px;
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
}
.tooltip ul {
  padding: 10px 25px;
  list-style-type: none;

  max-height: 330px;
  overflow: auto;
}
.tooltip a {
  text-overflow: ellipsis;
  max-width: 530px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
.tooltip button {
  position: absolute;
  top: 1em;
  right: 1em;
}